@model List<SevvalImre_Proje.Models.Rezervasyonlar>

@{
    ViewBag.Title = "RezervasyonListesi";
}

<h2>Rezervasyon Listesi</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rezervasyon Tarihi</th>
                    <th>Restoran Adı</th>
                    <th>Masa Numarası</th>
                    <th>Müşteri Adı</th>
                    <th>Müşteri Soyadı</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RezervasyonTarihi</td>
                        <td>@item.Restoran.RestoranAd</td>
                        <td>@item.Masa.MasaNo</td>
                        <td>@item.MusteriAd</td>
                        <td>@item.MusteriSoyad</td>
                        <td><a href="#" class="btn btn-primary btn-sm rz" data-rzID="@item.RezervasyonID"> İptal Et </a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Content/required/jquery-1.11.1.min.js"></script>
    <script>
        $(".rzSil").click(function () {

            var sonuc = confirm("Rezervasyonunuzu İptal Etmek İstiyor Musunuz?");
            if (sonuc) {
                var rzID = $(this).attr("data-rzID");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Rezervasyonlar/RezervasyonİptalEt/" + rzID,
                        success: function () {

                            alert("Rezervasyon İptal Edilmiştir.");
                            window.location.replace("/Rezervasyonlar/RezervasyonListesi");
                        },
                        error: function () {
                            alert("Bir Hata Oluştu!");
                        }
                    });
            }
            else {

                alert("Rzervasyon İptal işlemi Yapılmadı.");
            }
        });
    </script>
}